[Service]
ExecStart=[node version] [git directory]/autoCaster/index.js [some directory]/configuration.json 
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=autoCaster
User=pi
Group=pi
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
